{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<h1>Order Detail</h1>
<p>{{ user.first_name }}'s Cart</p>

{% if orders %}
<table>
  <tr>
    <td><strong>Product</strong></td>
    <td><strong>Price</strong></td>
    <td></td>
  </tr>
  <!-- logic will go here to repeat table rows per product ordered -->
    {% for order in orders %}
  <tr>
    <td>{{ order.product.title }}</td>
    <td>{{ order.product.price|floatformat:2|intcomma }}</td>
    <td>
        <form action="{% url 'website:order_product_to_delete' order_product_to_delete=order.id %}" method='POST'>
            {% csrf_token %}
            <button>delete</button>
        </form>
    </td>
  </tr>
</table>

<form action="{% url 'website:order_payment' order_id=current_order_id %}" method='POST'>
{% csrf_token %}
  <button>
    Complete Order
  </button>
</form>

<form action="{% url 'website:order_cancel' order_id=current_order_id %}" method='POST'>
      {% csrf_token %}
    <button>
      Cancel Order
    </button>
</form>
  {% endfor%}

  {% else %}

  <h1>You don't have anything in your cart.</h1>
  {% endif %}
{% endblock content %}