{% extends 'base.html' %}

{% block content %}

<h1>Order Detail</h1>
<p>{{ currentuser.first_name }}'s Cart</p>
<table>
  <tr>
    <td><strong>Product</strong></td>
    <td><strong>Price</strong></td>
    <td></td>
  </tr>
  <!-- logic will go here to repeat table rows per product ordered -->
  {% if orders %}
    {% for order in orders %}
  <tr>
    <td>{{ order.product.title }}</td>
    <td>{{ order.product.price }}</td>
    <td></td>
  </tr>
    {% endfor%}
  {% endif %}
</table>

<h2>Select Payment</h2>
<form action="{% url 'website:order_success' order_id=order_id %}" method='POST'>
    {% csrf_token %}
    <select name="payment_type" id="payment_type">
      {% for payment_type in payment_types %}
      <option id="{{ payment_type.id }}" value="{{ payment_type.id }}">{{ payment_type.name }}</option>
      {% endfor %}
    </select>
    <button>
      Done
    </button>
</form>


{% endblock content %}