<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <title>Bangazon LLC Admin Suite</title> -->
    </head>

    <body>

        {% block nav %}
        {% if user.is_authenticated %}
        <div id="navigation">
            <a href="{% url 'website:index' %}">Bangazon</a>
            <a href="{% url 'website:product_cat' %}">Product Categories</a>
            <a href="{% url 'website:product_sell' %}">Sell Product</a>
            <a href="{% url 'website:my_account' user.id %}">My Account</a>
            <a href="{% url 'website:shopping_cart' %}">Shopping Cart</a>
            <a href="{% url 'website:logout' %}">Log Out</a>
            <br/>
            <br/>
            <form method="get" action="/search_results/">
                <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search for a Product" required>
                <input type="submit" class="btn" value="Search" >
            </form>
        </div>
        {% else %}
        <div id="navigation">
            <a href="{% url 'website:index' %}">Bangazon</a>
            <a href="{% url 'website:product_cat' %}">Product Categories</a>
            <a href="{% url 'website:login' %}">My Account</a>
            <a href="{% url 'website:register' %}">Register</a>
            <a href="{% url 'website:login' %}">Login</a>
        </div>
        {% endif %}
        {% endblock nav %}


        {% block content %}{% endblock content %}

    </body>


</html>